---
import type { CollectionEntry } from "astro:content";
import { commentConfig } from "@/config";
import Twikoo from "./Twikoo.astro";

interface Props {
	post: CollectionEntry<"posts">;
}

const hasTwikoo = !!commentConfig?.twikoo;
---
<div class="card-base p-6 mb-4">
  {hasTwikoo && <Twikoo />}
</div>